<tc_include file="Common:head" />
<body class="ys-order-success">
<div class="aui-content aui-padded-b-10">
	<p><i class="aui-iconfont aui-icon-correct"></i></p>
	<p class="success-text">您已成功预订</p>
	<p class="aui-margin-b-15"><span class="aui-margin-r-10">订单编号</span><span class="order-no"></span></p>
	<p class="aui-margin-t-10"><span class="see-order-btn" data-url="{:U('product/opaid')}">查看订单</span></p>
</div>
</body>
<tc_include file="Common:script" />
<script type="text/javascript">
OrderSuccess.init();
</script>
</html>