<tc_include file="Common:head" />
<body class="ys-myaccount-edit">
<div class="aui-content aui-margin-t-10">
	<ul class="aui-list aui-list-in">
        <li class="aui-list-item">
            <div class="aui-list-item-inner username">
            	前途一片光明
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
	            <div class="aui-list-item-title">
					<div class="sex-select" data-sex="1">先生</div>
	                <div class="sex-select" data-sex="2">女士</div>
	            </div>
            </div>
        </li>
    </ul>
    <div class="edit-user-wrapper">
		<button data-url="{:U('account/index')}">保存</button>
    </div>
</div>
</body>
<tc_include file="Common:script" />
<script type="text/javascript">
User.init();
</script>
</html>