@font-face {
	font-family: "PingFang SC Regular";
  	src: url('./PingFangRegular.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
  font-family: "PingFang";
    src: url('./青鸟华光简琥珀.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "PingFang SC Medium";
  	src: url('./ys-font.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "PingFang SC Light";
  	src: url('./叶立群几何对称体.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "PingFang SC ExtraLight";
  	src: url('./叶立群几何极简体.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "PingFang SC Bold";
  	src: url('./叶立群几何切边体粗.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "PingFang SC Thin";
  	src: url('./PingFangThin.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.main{
  font-size:1rem;
  color: #61B3E6;
}
.font_1{
  font-size:1rem;
  font-family: 'PingFang SC Regular';
  color: #61B3E6;
}
.font_2{
  font-size:1rem;
  font-family: 'PingFang SC Thin';
  color:#61B3E6;
}