<tc_include file="Common:head" />
<link rel="stylesheet" type="text/css" href="__ROOT__/application/Yanshi/Dist/css/aui/aui-pull-refresh.css" />
</head>
<body class="ys-home-index">
<div class="aui-refresh-content">
    <section class="aui-content logo-content">
	<div class="aui-card-list logo-banner">
       <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/bg_home.png" alt="home-header"/>
       <span class="logo-inner">
            <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/logo.png" alt="logo" class="logo" />
       </span>
    </div>
    <div class="aui-card-list-content-padded">
        <div class="aui-row aui-row-padded">
            <a href="#body-content">
                <div class="ys-col-xs-5">
                    <img class="ys-home-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_fitness.png" />
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">健身餐</div>
                    </div>
                </div>
            </a>
            <a href="#health-content">
                <div class="ys-col-xs-5">
                    <img class="ys-home-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_health.png" />
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">健康餐</div>
                    </div>
                </div>
            </a>
            <a href="#salad-content">
                <div class="ys-col-xs-5">
                    <img class="ys-home-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_salad.png" />
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">沙拉</div>
                    </div>
                </div>
            </a>
            <a href="#drink-content">
                <div class="ys-col-xs-5">
                    <img class="ys-home-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_drink.png" />
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">饮品</div>
                    </div>
                </div>
            </a>
            <a href="#snacks-content">
                <div class="ys-col-xs-5">
                    <img class="ys-home-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_snack.png" />
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">零食</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </section>
    <div class="aui-content ys-goods-list">
         <section id="body-content" class="aui-content">
        <div class="aui-card-list ">
            <div class="aui-card-list-header">
                <span class="ys-list-header">健身餐</span>
            </div>
            <div class="aui-card-list-content ys-list-content">
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t ys-list-content-padded">
                <div class="aui-row aui-row-padded">
                </div>
            </div>
        </div>
    </section>
    <section id="health-content" class="aui-content">
        <div class="aui-card-list">
            <div class="aui-card-list-header">
                <span class="ys-list-header">健康餐</span>
            </div>
            <div class="aui-card-list-content ys-list-content">
               
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t ys-list-content-padded">
                <div class="aui-row aui-row-padded">

                </div>
            </div>
        </div>
    </section>
    <section id="salad-content" class="aui-content">
        <div class="aui-card-list">
            <div class="aui-card-list-header">
                <span class="ys-list-header">沙拉</span>
            </div>
            <div class="aui-card-list-content ys-list-content">
            
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t ys-list-content-padded">
                <div class="aui-row aui-row-padded">
                    
                </div>
            </div>
        </div>
    </section>
    <section id="drink-content" class="aui-content">
        <div class="aui-card-list">
            <div class="aui-card-list-header">
                <span class="ys-list-header">饮品</span>
            </div>
            <div class="aui-card-list-content ys-list-content">
                <!-- <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp.jpg" />
                <div class="ys-list-item-inner">
                    <div class="ys-list-item-header">
                        <div class="ys-list-item-title">一周清体健康饮食</div>
                    </div>
                    <div class="ys-list-item-content">
                        <div class="ys-list-item-title">
                            <span class="ys-list-item-min-price">￥28<em>起</em></span>
                            <img class="ys-list-sale-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_sale.png" />
                            <span class="ys-list-item-has-order">已预订38份</span>
                        </div>
                        <div class="ys-list-item-right">单价￥38-58</div>
                    </div>
                </div> -->
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t ys-list-content-padded">
                <div class="aui-row aui-row-padded">
                  <!--   <div class="aui-col-xs-6">
                        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-1.jpg" />
                        <div class="ys-list-item-inner">
                            <div class="ys-list-item-header">
                                <div class="ys-list-item-title">6日清体套餐</div>
                            </div>
                            <div class="ys-list-item-content">
                                <div class="ys-list-item-title">
                                    <span class="ys-list-item-min-price">￥45<em>起</em></span>
                                    <img class="ys-list-sale-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_sale.png" />
                                </div>
                            </div>
                        </div>
                        <div class="float-orderNum">已预订100份</div>
                    </div>
                     -->
                </div>
            </div>
        </div>
    </section>
    <section id="snacks-content" class="aui-content" >
        <div class="aui-card-list" style="margin-bottom:65px;">
            <div class="aui-card-list-header">
                <span class="ys-list-header">零食</span>
            </div>
            <div class="aui-card-list-content ys-list-content">
                
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t ys-list-content-padded">
                <div class="aui-row aui-row-padded">

                </div>
            </div>
        </div>
    </section>
    </div>
</div>
<div class="aui-hide">
    <div class="copy-recommend">
        <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp.jpg" class="ys-copy-img"/>
        <div class="ys-list-item-inner">
            <div class="ys-list-item-header">
                <div class="ys-list-item-title ys-copy-title"></div>
            </div>
            <div class="ys-list-item-content">
                <div class="ys-list-item-title">
                    <span class="ys-list-item-min-price">￥<span class="ys-copy-price"></span><em>起</em></span>
                   <!--  <img class="ys-list-sale-icon" src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_sale.png" /> -->
                    <span class="ys-list-item-has-order">已预订<span class="ys-copy-count"></span>份</span>
                </div>
                <div class="ys-list-item-right"><span class="pt-btn">拼团价</span>￥<span class="ys-copy-price-area"></span></div>
            </div>
        </div>
    </div>
    <div class="copy-item">
        <div class="aui-col-xs-6">
            <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/yp-1.jpg" class="ys-copy-img" />
            <div class="ys-list-item-inner">
                <div class="ys-list-item-header">
                    <div class="ys-list-item-title ys-copy-title"></div>
                </div>
                <div class="ys-list-item-content">
                    <div class="ys-list-item-title">
                        <span class="ys-list-item-min-price">￥<span class="ys-copy-price"></span><em>起</em></span>
                        </div>
                    </div>
                </div>
            <div class="float-orderNum">已预订<span class="ys-copy-count"></span>份</div>
        </div>
    </div>
</div>
<input type="hidden" class="localStorage-url" value="__ROOT__/application/Yanshi/Dist/images/yanshi/" />
<input type="hidden" class="detail-url" value="{:U('product/detail')}" />
<input type="hidden" name="member_id" value="{$member_id}
" />
<tc_include file="Common:script" />
<tc_include file="Common:footer" />
</body>
<script type="text/javascript" src="__ROOT__/application/Yanshi/Dist/js/aui/aui-pull-refresh.js"></script>
<script type="text/javascript">
    Index.init();
</script>
</html>