<tc_include file="Common:head" />
<body class="ys-register">
<div class="aui-content">
	<div class="logo-banner">
	    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/logo.png" alt="logo" class="logo" />
    </div>
	<ul class="aui-list aui-form-list aui-margin-l-15 aui-margin-r-15">
		<li class="aui-list-item ys-mob-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_user.png" class="input-user-icon"/>
                </div>
                <div class="aui-list-item-input">
                    <input type="tel" placeholder="请输入手机号" class="user-mobile" maxlength="11">
                </div>
                <div class="input-del-wrapper aui-margin-r-15">
                    <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_delete_forms.png" class="input-del-icon"/>
                </div>
            </div>
        </li>
        <li class="aui-list-item ys-code-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">
                   <img src="__ROOT__/application/Yanshi/Dist/images/yanshi/ico_password.png" class="input-safe-icon"/>
                </div>
                <div class="aui-list-item-input">
                    <input type="tel" placeholder="请输入验证码" class="verify" maxlength="6">
                    <button class="get-verify-btn">获取验证码</button>
                </div>
            </div>
        </li>
	</ul>
    <input type="hidden" value="{$member_info.nick_name}" class="name" />
    <input type="hidden" value="{$member_info.openid}" class="openid" />
    <input type="hidden" value="{$member_info.avatar}" class="avatar" />
    <input type="hidden" value="{:U('register/question')}" class="question-url">
	<div class="aui-content login-wrap">
		<button class="next-btn">下一步</button>
	</div>
</div>
</body>
<tc_include file="Common:script" />
<script type="text/javascript">
    Register.init();
</script>
</html>